//colors
$white: #fff;
$color_mine_shaft_approx: #333;
$black: black;
$color_flush_orange_approx: #ff8200;

//fonts
$font_0: slick;
$font_1: FontAwesome;

//urls
$url_0: url(./ajax-loader.gif);
$url_1: url(./fonts/slick.eot);
$url_2: url(./fonts/slick.eot?#iefix);
$url_3: url(./fonts/slick.woff);
$url_4: url(./fonts/slick.ttf);
$url_5: url(./fonts/slick.svg#slick);

//@extend-elements
//original selectors
//.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus
%extend_1 {
  color: transparent;
  outline: none;
  background: none;
}

//original selectors
//.slick-prev:before, .slick-next:before
%extend_2 {
  font-family: $font_1;
  font-size: 100px;
  line-height: 1;
  opacity: 1;
  color: $color_mine_shaft_approx;
}


@charset 'UTF-8';
@font-face {
  font-family: $font_0;
  font-weight: normal;
  font-style: normal;
  src: $url_1;
  src: $url_2 format('embedded-opentype'), $url_3 format('woff'), $url_4 format('truetype'), $url_5 format('svg');
}
.slick-prev {
  left: -110px;
  &:hover {
    @extend %extend_1;
    &:before {
      opacity: 1;
    }
  }
  &:focus {
    @extend %extend_1;
    &:before {
      opacity: 1;
    }
  }
  &:before {
    @extend %extend_2;
    content: '\f104';
  }
  &.slick-disabled:before {
    opacity: .25;
  }
}
.slick-next {
  right: -80px;
  &:hover {
    @extend %extend_1;
    &:before {
      opacity: 1;
    }
  }
  &:focus {
    @extend %extend_1;
    &:before {
      opacity: 1;
    }
  }
  &:before {
    @extend %extend_2;
    content: '\f105';
  }
  &.slick-disabled:before {
    opacity: .25;
  }
}
[dir='rtl'] {
  .slick-prev {
    right: -25px;
    left: auto;
    &:before {
      content: '\f104';
    }
  }
  .slick-next {
    right: auto;
    left: -25px;
    &:before {
      content: '\f105';
    }
  }
}
.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      &:hover {
        outline: none;
        &:before {
          opacity: 1;
        }
      }
      &:focus {
        outline: none;
        &:before {
          opacity: 1;
        }
      }
      &:before {
        font-family: $font_0;
        font-size: 34px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '\25AC';
        text-align: center;
        opacity: .25;
        color: $black;
      }
    }
    &.slick-active button:before {
      opacity: 1;
      color: $color_flush_orange_approx;
    }
  }
}
.slick-loading .slick-list {
  background: $white $url_0 center center no-repeat;
}
