.news-content {
	margin-top: 40px;
}
.news-title {
	padding-top: 10px;
	padding-bottom: 10px;
}
.news-article-image {
	overflow: hidden;
	height: 130px;
	background-position: 0 50%;
}
.news-article-image img {
	margin-top: -60px;
}
.article-title-text {
	padding: 10px 0;
	font-size: 15px;
	font-weight: 600;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #f4831f;
	text-decoration: none;
	text-transform: uppercase;
}

.article-title-excerpt {
	padding-top: 10px;
	font-size: 12px;
	color:#555;
	text-decoration: none;
	font-weight: normal;
	height:100px;
	overflow: hidden;
}
.article-wrapper  {
  padding: 0;
}

@media only screen and (min-width : 992px) {
  .article-wrapper  {
    padding: 0 100px;
  }
}

    /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .article-wrapper  {
    padding: 0 100px;
  }
}
.article-wrapper a {
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	display: block;
	padding-left: 5px;
	padding-top: 9px;
	border-left: 3px solid #fff;
}
.article-wrapper a:hover {
	color:#fff;
}
.center-custom-tabs-wrapper {
	padding-bottom: 50px;
}
.center-tabs-background {
	background-color: #e9e9e9;
}
.center-custom-nav-tabs > li {
	float:none;
	display:inline-block;
	*display:inline; /* ie7 fix */
	zoom:1; /* hasLayout ie7 trigger */
}
.center-custom-nav-tabs > li a {
	color: #333;
	background-color: transparent;
	border: none;
	border-bottom-color: transparent;
	border-radius: 0;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	padding: 40px 60px;
	font-weight: bold;
}

.center-custom-nav-tabs > li.active > a::after, .center-custom-nav-tabs > li.active > a:hover::after, .center-custom-nav-tabs > li.active::after > a:focus::after {
		content:'';
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -10px;
		width: 0;
		height: 0;
		border-top: solid 10px #f4831f;
		border-left: solid 10px transparent;
		border-right: solid 10px transparent;
}
@media(max-width:767px){
	.center-custom-nav-tabs > li a {
		color: #333;
		background-color: transparent;
		border: none;
		border-bottom-color: transparent;
		border-radius: 0;
		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		padding: 13px 7px;
		font-weight: bold;
	}
}
/*@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}*/
.center-custom-nav-tabs > li a:active {
	color: #fff;
	background-color: transparent;
	border: none;
	border-bottom-color: transparent;
}
.center-custom-nav-tabs > li.active > a, .center-custom-nav-tabs > li.active > a:focus {
	color: #fff;
	cursor: default;
	background-color: #f4831f;
	border-bottom-color: transparent;
	border: none;
}
.center-custom-nav-tabs > li.active > a:hover {
	color: #fff;
}
.nav-tabs > li {
	margin-bottom: 0;
}
.center-custom-nav-tabs > li > a:hover {
	border-color: transparent;
	background-color: #fff;
	color: #f4831f !important;
}
.center-custom-nav-tabs {
	text-align: center;
	border-bottom: transparent;
}

.bottom-btn {
	text-align: center;
	margin: 40px 0;
}
a.btn-more {
	border: 1px solid #f4831f;
	background-color: transparent;
	border-radius: 0;
	color:#f4831f;
	text-transform: uppercase;
}
a.btn-more:hover {
	background-color: #f4831f;
	border: 1px solid #f4831f;
	color:#fff;
}
/*Slideshow Styling*/

/*Styling of the events page.*/
.event-icon {
	height: 120px;
}
.picture-date-wrapper {
	width: 30px;
	position: absolute;
	right: 15px;
	bottom: 5px;
}

/*Responsive Padding*/
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.tab-content.utep-news-tab>.active {
    display: block;
    border: none;
    border-bottom: none;
    border-top: none;
    padding: 20px 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.tab-content.utep-news-tab>.active {
	    display: block;
	    border: none;
	    border-bottom: none;
	    border-top: none;
	    padding: 20px 210px;
	}
}
.no-outline {
	border: none !important;
	border-bottom: none !important;
	border-top: none !important;
	}
}
/*.tab-content.utep-news-tab>.active {
    display: block;
    border: none;
    border-bottom: none;
    border-top: none;
    padding: 20px 210px;
}*/
